---
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
} from '@odyssey-theme/components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import TwoColumnTextSection from '../components/sections/heros/TwoColumnTextSection.astro';


const seo = {
	title: 'Woodhaven Smoke Shop',
	description: 'Best Smoke Shop in NYC',
};
	  
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Woodhaven Smoke Shop</h1>
			<p>Best Smoke Shop in New York.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-hero-1.jpg"
				alt="Hookah"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Great store! Had everything I needed and for the best prices I’ve seen. The workers are nice and helpful and answered all the questions I had about my vape and hookah. Will be going back regularly."
		customerName="Jason"
	/>
	<h1 class="heading"> Products</h1>
	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Bongs</h2>
			<img class="product" src="../assets/images/landing-1/bong.jpg"/>
		</div>
		<div slot="column-2-body">
			<h2>Vapes</h2>
			<img class="product" src="../assets/images/landing-1/vape.jpg"/>
		</div>
		<div slot="column-3-body">
			<h2>Hookahs</h2>
			<img class="product" src="../assets/images/landing-1/hookah.jpg"/>
		</div>
	</ThreeColumnTextSection>

	<TwoColumnTextSection>
		<div slot="column-1-body">
			<h2>Papers</h2>
			<img class="product" src="../assets/images/landing-1/papers.jpg"/>
		</div>
		<div slot="column-2-body">
			<h2>Trays</h2>
			<img class="product" src="../assets/images/landing-1/trays.jpg"/>
		</div>
	</TwoColumnTextSection>

	<CustomerQuoteSection
		quoteText="One stop shop, They always have everything I need and the best prices compared to other shops. Positive guys that work there to help you find what you need."
		customerName="Rey G."
	/>

	<TwoColumnTextSection>
		
		<div slot="column-1-body">
			<a href="https://g.page/woodhaven-smoke-shop?share" target="_blank"> 	
				<h2>Location</h2>
				<img src="../assets/images/landing-1/map.jpg"/>
				<div>Address: 60-70 Woodhaven Blvd, Queens, NY 11373</div>
			</a>
		</div>

		<div slot="column-2-body">
			<h2>Hours</h2>
			<div>Monday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Tuesday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Wednesday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Thursday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Friday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Saturday 12PM(Noon) - 12 AM(Midnight)</div>
			<br/>
			<div>Sunday 12PM(Noon) - 12 AM(Midnight)</div>
		</div>
	</TwoColumnTextSection>
	 
</Layout>

